@import "src/app/app.variables";
//.container-datatable { margin: 0 auto; }
.ant-table{
  border: solid 1px $light;

  &-wrapper.box_shadow { box-shadow: 1px 2px 5px $light; }
  .ant-empty-normal {
    margin: 5px 0 ;
    .ant-empty-image { display: none; }
    p { margin-bottom: 0 }
  }

  .font_large {
    font-size: 16px;
    height: auto;
    .gn-one-line { line-height: 1.1; }
  }
  @media (min-width: 1200px) {
    &-content { display: inline; }
  }
  &-pagination.ant-pagination {
    margin-bottom: 6px;
  }
  .ant-badge-count {
    min-width: 15px;
    height: 15px;
    padding: 0 3px;
    line-height: 15px;
    right: 20%;
    top: 10%;
    z-index: 9999;
  }
  .ant-btn-icon-only.ant-btn-sm { margin: 0 5px; }


  td {
    .ant-btn-sm:not([disabled]) {
      background-color: $success;
      color: $white;
      border: none;
      box-shadow: none;
      border-radius: 5px;
      margin: 2px;
      line-height: 1.9;
    }
    overflow-wrap: anywhere !important;
  }
  &-small .ant-table-selection-column {
    width: auto;
    min-width: auto;
  }
  &.ant-table-small { font-size: 13px; }
  &-filter {
    &-trigger {
      display: flex;
      justify-content: center;
      align-items: center;

      .la-lg { font-size: 1.2rem; }
    }
    &-dropdown {
      width: 230px;
      padding: 4px;
      .container {
        max-height: 230px;
        overflow: auto;
      }

      .ant-checkbox-wrapper,
      .ant-radio-wrapper{
        margin-left: 0;
        margin-right: 0;
        width: 100% ;
      }
      .group-btn {
        display: flex;
        justify-content: space-between;

        .ant-btn {
          width: calc(50% - 2px);
          margin-top: 4px;
        }
      }
    }
  }
  &-tbody > tr.ant-table-row{
    &:nth-of-type(odd) { background-color: $light; }
    &:hover > td{
      background-color: tint($warning, 85) !important;
      color: $black !important;
    }
    > td.hover:hover {
      cursor: pointer;
      color: $blue_dark!important;
    }
  }

  @media (min-width: 1200px) {
    .ant-table-container::before,
    .ant-table-container::after { display: none;}
    .ant-table-body { overflow: auto visible !important; }
    table { table-layout: auto !important; }
  }
}
.gbtn {
  &.gnext, &.gprev {
    display: none;
  }
}
